body{
  background-image: url(../images/bg.jpg);
  background-size: auto;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 600px;
}

.container div{
  width: 500px;
  height: 300px;
  margin: 10px;
}

.container div#text{
  width: 650px;
}

#output{
  font-size: 40px;
  text-align: center;
  color: white;
}

#timer {
  font-size: 48px;
  text-align: center;
}

.box{
  display: block;
  flex-wrap: wrap;
  border-radius: 30px;
  background-color: rgb(12, 254, 12);
}

h1{
  text-align: center;
}



img{
  width: 150px;
  height: 150px;
}
#img{
  display: none;
  margin-left: 30%;
}

@media screen and (max-width:750px){
  .container div{
    height:400px;
  }
}

@media screen and (max-width:340px){
  .container div{
    height:550px;
  }
}


